@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+IN+Guides&display=swap');
body{
    font-family: "Playfair Display", serif;
    color:black;
    background: lightgray;
}
h1{
    text-align:center;
}
a {
  color:rgb(250,13,100);  
}
.hidden{
    font-family: "Playwrite IN Guides", cursive;
    animation-name: slow_reveal; /*will slowly reveal the words, represented by the slow fade in*/
    animation-duration: 10s;}
@keyframes slow_reveal{
    from{opacity:0;}
    to{opacity:1}
}
#game_box{
    display: flex;
    float: left;
    width: 45vw;
    height: 75vh;
    border:black solid;
    background: lightgrey;
    text-anchor: middle;
}
.t{
    display:flex;
    flex-direction: column;
    width: 50vw;
    float: right;
}
.in_game{
    padding: 5px;
    float:right;
    width: 45vw;
}
.centered{
    text-align: center;
    color: black;
    font-size:1.5em;
}
.sign_in{
    width: 15em;
}
#big{
    margin-top: 6dvh;
}